<h1>RYM Record List Enhancer</h1>
<p>drop a link to the playlist you would like to enhance below</p>

<form method="POST">
  paste the link here:
  <input type="url" name="listlink"><br>
  <input type="submit" value="Submit">
</form>