<h1>RYM Record List Enhancer</h1>
<p>copy the desired list's page source and paste it into the box below</p>

<form method="POST">
  <textarea name="pagesource" cols="30" rows="10">{{pageSource}}</textarea>
  {{!-- <input type="url" name="listlink"> --}}
  <br>
  <input type="submit" value="Submit">
</form>

<div>
  Check out lists already on file
  <br>
  {{#each lists}}
    <a href='list/{{id}}'>
    {{listAuthor}}: {{listTitle}}
    </a>
    <br>
  {{/each}}
</div>