<!DOCTYPE html>
<html class="theme_">
   <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" >
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="apple-mobile-web-app-capable" content="yes" /> 
      <title>Fantastic Late 70s &amp; Early 80s Disco, Funk &amp; Soul Singles You May Not Have Heard Yet Volume 3 - Rate Your Music</title> 
      <link rel="stylesheet" href="//e.snmc.io/2.5/css/min28.css" type="text/css"/>
      <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
      <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
   <link rel="dns-prefetch" href="//ib.adnxs.com"><link rel="dns-prefetch" href="//ap.lijit.com"><link rel="dns-prefetch" href="//tag.contextweb.com"><link rel="dns-prefetch" href="//live.sekindo.com"><link rel="dns-prefetch" href="//bid.contextweb.com"><link rel="dns-prefetch" href="//adserver.adtechus.com"><link rel="dns-prefetch" href="//tpc.googlesyndication.com"><link rel="dns-prefetch" href="//sekindo-d.openx.net"><link rel="dns-prefetch" href="//pagead2.googlesyndication.com">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
     
      <meta name="description" content="Fantastic Late 70s &amp; Early 80s Disco, Funk &amp; Soul Singles You May Not Have Heard Yet Volume 3. Author: Ohg. More notable Disco, Boogie, Synth Funk, Soul &amp; Funk singles with a low number of ratings in need of some attention." />
      <meta name="keywords" content="rate your music, rate music, rate albums, music catalog, music catalogue, social software, album reviews, music lists, community, music recommendations, concert listings, record labels, venues, shows" /> <meta name="twitter:card" content="summary_large_image" />
                <meta name="twitter:site" content="@sonemic" />
                <meta property="og:site_name" content="RateYourMusic">
                <meta property="og:url" content="https://rateyourmusic.com/list/Ohg/fantastic_late_70s_and_early_80s_disco__funk_and_soul_singles_you_may_not_have_heard_yet_volume_3/" />
                <meta property="og:type" content="article">
                <meta property="og:title" content="Fantastic Late 70s &amp; Early 80s Disco, Funk &amp; Soul Singles You May Not Have Heard Yet Volume 3" /><meta property="og:description" content="Fantastic Late 70s &amp; Early 80s Disco, Funk &amp; Soul Singles You May Not Have Heard Yet Volume 3. Author: Ohg. More notable Disco, Boogie, Synth Funk, Soul &amp; Funk singles with a low number of ratings in need of some attention." /><meta property="og:image" content="https://e.snmc.io/lk/l/s/60828e4663ca2b58c7c5c15b08fd96c3/5810089.jpg" /><meta property="article:author" content="https://rateyourmusic.com/~Ohg" />
      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

      <script type="text/javascript" src="https://e.snmc.io/2.5/js/rym.min.4.js"></script>
      <script type="text/javascript">rym.session.init(345935, 'manintheicecreamvan', 'pE9yNs6aALcfkVZrOAOWrwQ0N1foWnyz6SZgkt4wozPcrg3gKX6j.KUlE56a6YTw1384482374259327');</script>

   <script type="text/javascript">

   /* google analytics */ 
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-59057-1']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

   </script>
   

 <!-- DFP ID:  / ads: enabled --> 
      <style>
          a.game:link, a.game:visited { color: #840505; cursor:pointer; }
          a.game:active, a.game:hover { color: #d22c2c; }
          a.game_platform { text-decoration:none;  color: #751617;  }
          a.game_platform:hover { color: #444;  }
          a.company_game { color: #DE3625; text-decoration:none; border-bottom: 1px dotted #fcc; }
          a.character { text-decoration:none;  color: #751617;  }
          a.franchise { text-decoration:none;  color: #751617;  }
      </style>
 </head>


<body class="nolinks" >
<div id="wrapper">


	<div id="navtop"><div class="mobile_header_btn" onClick="$('#navlist').fadeToggle(100);">rym <i class="fa fa-caret-down"></i></div><ul id="navlist">
		<li><a style="padding-top:3px;padding-bottom:4px;" title="Front Page"  href="/" >
         <span class="hide-for-small"><img id="rstar" src="//e.snmc.io/2.5/img/images/rstar.gif" alt="" /><span id="logotext">rym</span></span>
         <span class="show-for-small">front page</span>
         </a></a></li>
		<li><a title="View top charts by year, location, genre and more!"  href="/customchart" >charts</a></li>
      <li><a title="Read and make lists"  href="/lists/" >lists</a></li>

		<li><a title="Message Boards and Member Directory"    href="/community/" >community</a></li>

<li><a title="Your Personal Page on RYM"    href="/~manintheicecreamvan" >manintheicecreamvan</a></li>          <li><a href="/subscribe/" title="Support Rate Your Music with your subscription" >
             <span class="hide-for-small">$</span>
             <span class="show-for-small">subscribe to RYM</span>
    </a></li><li onclick="if(!confirm('Are you sure you want to log out?'))return false;" class="sub"><a title="Log Out" class="sub" href="/account/logout" >
      <span class="hide-for-small">[x]</span>
    <span class="show-for-small">log out</span>
   </a></li>		
	</ul>


  <div class="helplink"><a href="/help">help</a></div>

  <div class="main_searchbar">
   <form id="mainsearch" action="/search">
      <input type="hidden" name="searchtype" id="searchtype" value="a" />
      <input tabindex="1" name="searchterm" 
           value=""
            style="background:none;border:none;outline:none;width:110px;padding:3px;" 
            placeholder="Search...">
      <div tabindex="3" id="mainsearch_submit" onKeyDown="if (event.keyCode == 13 || event.keyCode == 20) { $('#mainsearch')[0].submit();}"  onClick="$('#mainsearch')[0].submit();" style="cursor:pointer;float:right;color:#777;font-size: 0.8em;line-height: 22px;margin-left:3px;padding-left:8px;padding-right:5px;background:#E6E6E6">
         ▶
      </div>
      <div tabindex="2" class="search_options_frame" onMouseOver="$('#search_options').show()" onMouseOut="$('#search_options').hide();"
      onFocus="$('#search_options').show()" onBlur="$('#search_options').hide();" onKeyDown="cycleSearchType(event);">
         <span id="searchtype_selected">Artists</span> ▾

         <div id="search_options" class="search_options" >
            <div class="search_option_header">Music</div>
               <div onClick="selectSearchType('a');" id="searchtype_a" class="searchtype_option current">Artists</div>
               <div onClick="selectSearchType('l');" id="searchtype_l" class="searchtype_option">All releases</div>
               <div onClick="selectSearchType('y');" id="searchtype_y" class="searchtype_option">V/A releases</div>
               <div onClick="selectSearchType('b');" id="searchtype_b" class="searchtype_option">Label</div>
               <div onClick="selectSearchType('j');" id="searchtype_j" class="searchtype_option">Catalog No.</div>
               <div onClick="selectSearchType('r');" id="searchtype_r" class="searchtype_option">Classical work</div>
               <div onClick="selectSearchType('v');" id="searchtype_v" class="searchtype_option">Review</div>
               <div onClick="selectSearchType('g');" id="searchtype_g" class="searchtype_option">Genre</div>

            <div class="search_option_header">Film</div>

               <div onClick="selectSearchType('F');" id="searchtype_F" class="searchtype_option">Film title</div>
               <div onClick="selectSearchType('A');" id="searchtype_A" class="searchtype_option">Film cast/crew</div>

            <div class="search_option_header">Video games</div>
               <div onClick="selectSearchType('N');" id="searchtype_N" class="searchtype_option">Game person</div>

            <div class="search_option_header">Site</div>

               <div onClick="selectSearchType('u');" id="searchtype_u" class="searchtype_option">User</div>
               <div onClick="selectSearchType('p');" id="searchtype_p" class="searchtype_option">Boards</div>
               <div onClick="selectSearchType('s');" id="searchtype_s" class="searchtype_option">List</div>

         </div>
      </div>
   </form>
  </div>
  <script>
      function cycleSearchType(event) {

         var searchTypes = new Array('a', 'l', 'y', 'b', 'j', 'r', 'v', 'g', 'F', 'A', 'u', 'p', 's');
         var len = searchTypes.length;
         var currentVal = $('#searchtype').val();
         var currentIndex = searchTypes.indexOf(currentVal);
         var nextIndex = currentIndex+1;
         var prevIndex = currentIndex-1;
         if ( nextIndex == len ) {
            nextIndex = 0;
         }
         if ( prevIndex < 0 ) {
            prevIndex = len-1;
         }

         var nextType = searchTypes[nextIndex];
         var prevType = searchTypes[prevIndex];


         switch (event.keyCode) {
            case 40: 
               selectSearchType(nextType);
               event.preventDefault();
            break;

            case 38:
               selectSearchType(prevType);
               event.preventDefault();
            break;

            case 13:
               $('#mainsearch')[0].submit();
               event.preventDefault();
            break;
            default: 
               
            break;
         }

        
         return false;

      }
      function selectSearchType(type) {
         $('#searchtype').val(type);
         $('#searchtype_selected').text($('#searchtype_' + type).text());
         $('#search_options').hide();
      }
      selectSearchType('a')

  </script>


</div>

<!-- trick --><div style="clear:both;"></div>


 
 <!-- ~~~~~~~~ begin content! ~~~~~~~~~~~~~~~ -->
 <div id="content" style="border-top:none;"><!-- items on this page: 47 --><style> @media only screen and (max-width:48em) { body { background:#fff; } #content { padding:0; background:#fff;} }</style><link rel="canonical" href="https://rateyourmusic.com/list/Ohg/fantastic_late_70s_and_early_80s_disco__funk_and_soul_singles_you_may_not_have_heard_yet_volume_3/" /><script type="text/javascript" src="//e.snmc.io/2.5/js/basereq-min-b5.js"></script>
<script type="text/javascript" src="//e.snmc.io/2.5/js/jquery-appear-b1.js"></script>

   <style>
      .navspan {
         font-size:0.9em;
         font-weight:normal;
         color:#999;
      }
      a.navlinknext, a.navlinknext:active, a.navlinknext:hover, a.navlinknext:visited, a.navlinknum, a.navlinknum:active, a.navlinknum:hover, a.navlinknum:visited, a.navlinkprev, a.navlinkprev:active, a.navlinkprev:hover, a.navlinkprev:visited {
         color:#339;
         text-decoration:none;
      }
   </style>

    <div id="searchsuggestions" style="visibility:hidden;position:absolute;" ></div> 

 
<script type="text/javascript">

 var token = 'pE9yNs6aALcfkVZrOAOWrwQ0N1foWnyz6SZgkt4wozPcrg3gKX6j.KUlE56a6YTw1384482374259327'; var currentId = 484386;
  
   function doFlag ( assoc_id, type, flag, polarity ) {

      hideflag();
      did('flagimg_' + assoc_id + '_' + type).src = '//e.snmc.io/2.5/img/images/loading.gif';
      sendRequest('FlagItem|' + token + '|' + assoc_id + '|' + type + '|' + flag + '|' + polarity);
   }


   var flagAssocId = 0;
   var flagType = 's';
   var currentFlag = '';

   function flagItem(assoc_id, type, event) { 
      if ( did('flag_' + assoc_id + '_' + type).className != 'flag0' )
      {
          doFlag ( assoc_id, flagType, '', 0 );
          return;
      }

     var fl = document.getElementById('flag');
   
     var pageX, pageY;
   
     if (event.pageX) {
         pageX = event.pageX;
     } else { 
         pageX = event.clientX + document.documentElement.scrollLeft;
     }
     if (event.pageY )
     {
         pageY = event.pageY;
     } else {  
         pageY = event.clientY +  document.documentElement.scrollTop;
     }
   
     fl.style.top = pageY + 'px';
     fl.style.left = pageX+ 'px';
     fl.style.visibility='visible';
     flagAssocId = assoc_id;
   
   }

   function hideflag() {
    document.getElementById('flag').style.visibility='hidden';
   }


 </script>



<div id="flag" class="mbflag">
  <form method="submit" class="mbflag_form" onSubmit = "return false;" action="">
   <h5>Flag this list:</h5>
   <input id="type"  type="hidden" name="type" value="q" />
   <input id="context" type="hidden" name="context" value="f" />
   <input id="tag" type="hidden" name="tag" value="" />

   <input type="button" onclick="doFlag(flagAssocId, flagType, '+excellent', 1);" value="+ excellent" /> <br />
   
   <br />
   <input type="button" onclick="doFlag(flagAssocId, flagType, '-uninteresting', -1);" value="- uninteresting" /> <br />
   <input type="button" onclick="doFlag(flagAssocId, flagType, '-spam', -1);" value="- spam/off-topic" /> <br />
   <input type="button" onclick="doFlag(flagAssocId, flagType, '-offensive', -1);" value="- offensive" /> <br />
   <input type="button" onclick="doFlag(flagAssocId, flagType, '-prohibited', -1);" value="- prohibited" /> <br />
   <br />
   <input type="button" onclick="hideflag();" value="cancel" /> <br />
  </form>
</div><div id="breadcrumb"><ul> <li class="lnk"><a href="/~Ohg">Ohg <b>&gt;</b></a></li><li class="lnk"><a href="/list/Ohg">lists <b>&gt;</b></a></li><li class="currentverylong">Fantastic Late 70s &amp; Early 80s Disco, Funk &amp; Soul Singles You May Not Have Heard Yet Volume 3</li></ul></div>
   <div class="clear"></div>






&nbsp;&nbsp; <div class="clear"> </div>
<div class="row" style="border:1px solid #eee; background:#f8f8f8;"> 
<div class="large-8 columns" style="padding:1.5em;"><h4>A list by <a class="user" href = "/~Ohg">Ohg</a></h4><p>Categories: <a title="[Descriptor21997]" class="genre" href="/list_classifier/Artist/">Artist</a>, <a title="[Descriptor21973]" class="genre" href="/list_classifier/1970s/">1970s</a>, <a title="[Descriptor21974]" class="genre" href="/list_classifier/1980s/">1980s</a>, <a title="[Descriptor27287]" class="genre" href="/list_classifier/Listener%27s+Diary/">Listener's Diary</a>, <a title="[Descriptor27311]" class="genre" href="/list_classifier/Underrated/">Underrated</a></p>
<p style="color:#bbb">[List484386] | <a class="flag0" title="flag" id="flag_484386_s" href="javascript:void(0);" onClick="javascript:flagItem('484386', 's', event);" ><img id="flagimg_484386_s" src="//e.snmc.io/2.5/img/images/flage.gif" width="18" height="18" /></a> | <a class="fav1" title="add/remove favorite" id="link_484386_s_f" href="javascript:void(0);" onClick="javascript:toggleFav('484386', 's', 'f');" ><img id="fav_484386_s_f" src="//e.snmc.io/2.5/img/images/heartf.gif" width="18" height="18" /></a><a class="fav1 subtext" href="/favorited/484386_s_f"><span id="favtext_484386_s_f" class="smallgray">+17</span></a> </p>
  <div style="float:left;padding-right:15px;padding-bottom:15px;"><a href="/release/single/side_on/magic/"><img  width="250" id="img_l_6702380"   alt="Magic" title="Magic" src="//e.snmc.io/lk/f/l/9b11cb086e4ab89d9889c179a4d57fb8/5810089.jpg" /></a></div>
  More notable Disco, Boogie, Synth Funk, Soul &amp; Funk singles with a low number of ratings in need of some attention.



</div> <div class="large-4 columns" style="padding:1.5em;"><h4><img id="loading" src="//e.snmc.io/2.5/img/images/blank.png"> Comments</h4> 

   <script type="text/javascript" src="//e.snmc.io/2.5/js/basereq-min-b5.js"></script>
<script type="text/javascript" src="//e.snmc.io/2.5/js/anyqueue.js"></script>

   <script type="text/javascript">
     var login_token = 'pE9yNs6aALcfkVZrOAOWrwQ0N1foWnyz6SZgkt4wozPcrg3gKX6j.KUlE56a6YTw1384482374259327';
     function toggleChange(id) {
        if (did('changelog_'+id).style.display != 'none' )
        {
            did('changeicon_'+id).src = '//e.snmc.io/2.5/img/images/miniplus.gif';
            did('changelog_'+id).style.display = 'none';
        }
        else
        {
            did('changeicon_'+id).src = '//e.snmc.io/2.5/img/images/miniminus.gif';
            did('changelog_'+id).style.display = '';
        }
     }
     function loadMoreComments ( user, offset ) {
//         alert(user + ', ' + offset)
         $('#more_comments_' + offset).text('Loading...') 
         rym.request.post('CommentsLoadShoutbox', {user:user, offset:offset}, null, 'script');
     }
   </script>
   <style>

      
        .commentheadera { color:#000; padding:0px; padding-left:4px; height:1.4em;}
         div.comment {  border-bottom: 1px solid #bbb; color:#333; padding:0px; font-size:x-small; margin:0px;} 
        .commentpicture { float:left; clear:none; margin-right:10px; } 
        .comment_vote_date { color:#888;  font-style: italic; }
        table.commenttbl { width:100%; }
        table.commenttbl tr td { vertical-align:top; }
        table.commenttbl tr td.commenttblpic { width:50px; }

       
       .community_comments_header {
         
       }
      .comments_header {
        padding-left:padding:5px;
        padding-top:5px;
        font-weight:normal !important;
        font-size:1.2em;
        border-bottom: 1px solid #ddd;
      }
      .votestats { border: 1px #ccc solid;  color:#333; padding:10px;  margin:10px;} 
      .commentheadery { background:#dfd !important; border-bottom: 1px #bbb solid; color:#000; font-weight:bold; padding:5px; padding-left:8px;}
      .commentheadern { background:#fcc !important; border-bottom: 1px #bbb solid; color:#000; font-weight:bold; padding:5px; padding-left:8px;}
      .commentheaderh { background:#cce !important; border-bottom: 1px #bbb solid; color:#000; font-weight:bold; padding:5px; padding-left:8px;}
      .commentfooter {  padding:5px; background:#f8f8f8; color:#000; font-weight:bold; }
      .commentheader { font-weight:bold; padding:5px; background:#f8f8f8; }
      .commentbody { padding:5px;}
      .commenttextarea { padding:5px; padding-top:0; padding-bottom:0; } 
      .commentvoting { padding:5px; background:#f8f8ff; } 
      .commentvoting select { font-size:small; } 
      .comment_name { float:left; width:49%;  }
      .comment_name, .commentheadera { padding-bottom:0px; }
      .comment_vote_date { float:right; width:49%; text-align:right; padding-right:2px; }
      .approvable { background: #cfc; border:#8a8 1px solid; padding: 5px;} 
      .deniable  { background: #fcc; border:#8a8 1px solid; padding: 5px; } 
   </style>
  
    <div id="list_comments_commentarea"><div class="smallcomment_area" style="background:#f8f8f8; height:200px; border:#aaa 1px solid; overflow:auto;">
        <div id="list_comments_commentpage">
  
               <div class ="comment" id="comment4158053">
                   <table class="commenttbl"><tr><td class="commenttblpic"><a href="/~Ohg"><img id="img_u_161187"   src="//e.snmc.io/lk/t/u/9db8bf0912b7e6c3f2715743de74da00/6662652.jpg" width="50" height="37" alt="" title="" style="border:0px;" /></a></td><td>
                 <div class="commentheadera">  
                    <div class="comment_name">
                           <a class="user" href = "/~Ohg">Ohg</a>
                     </div><div class="comment_vote_date"> 08/04/16 06:16 EST</div>
                 </div>
                 <div class="commentbody">
                      AKA the scraping the barrel volume</div>
            <div style="text-align:right;"><a id="reportComment4158053" style="font-style:italic;color:#999;" onClick="reportComment(4158053);" href="javascript:void(0);">flag</a> </div>
              </td></tr></table></div>
               <div class ="comment" id="comment4156943">
                   <table class="commenttbl"><tr><td class="commenttblpic"><a href="/~Thedesolateone"><img id="img_u_209485"   src="//e.snmc.io/lk/t/u/aff18a084abd9ebcce51d50a5429ab60/5893737.jpg" width="50" height="31" alt="Better days" title="Better days" style="border:0px;" /></a></td><td>
                 <div class="commentheadera">  
                    <div class="comment_name">
                           <a class="user" href = "/~Thedesolateone">Thedesolateone</a>
                     </div><div class="comment_vote_date"> 08/03/16 06:10 EST</div>
                 </div>
                 <div class="commentbody">
                      oh!!</div>
            <div style="text-align:right;"><a id="reportComment4156943" style="font-style:italic;color:#999;" onClick="reportComment(4156943);" href="javascript:void(0);">flag</a> </div>
              </td></tr></table></div>
               <div class ="comment" id="comment4156917">
                   <table class="commenttbl"><tr><td class="commenttblpic"><a href="/~nostalghia"><img id="img_u_301652"   src="//e.snmc.io/lk/t/u/f58cfd7e41926d1b122ef733a14c8740/6072932.jpg" width="50" height="32" alt="Star Gossage" title="Star Gossage" style="border:0px;" /></a></td><td>
                 <div class="commentheadera">  
                    <div class="comment_name">
                           <a class="user" href = "/~nostalghia">nostalghia</a>
                     </div><div class="comment_vote_date"> 08/03/16 05:08 EST</div>
                 </div>
                 <div class="commentbody">
                      yay &lt;3</div>
            <div style="text-align:right;"><a id="reportComment4156917" style="font-style:italic;color:#999;" onClick="reportComment(4156917);" href="javascript:void(0);">flag</a> </div>
              </td></tr></table></div></div>  </div> <div style="background:#f8f8f8; height:50px; border:#aaa 1px solid;">
        <div class="commentbutton">
            <input style="height:50px;width:100%;" id="list_comments_dummybutton" type="button" onClick="this.style.display='none';did('list_comments_commentform').style.display='';" value="Write a Comment" />
        </div>
        <div id="list_comments_commentform" style="display:none;margin:0;padding:0;">
        <form id="list_comments_comments" style="margin:0;padding:0;" onSubmit="return false();">
        <table style="padding:0;margin:0;"><tr style="padding:0;margin:0;"><td style="padding:0;margin:0;">
         
         <input type="hidden" name="list_comments_assoc_id" id="list_comments_assoc_id" value="484386" />
         <input type="hidden" name="list_comments_type" id="list_comments_type" value="s" />
         <input type="hidden" name="list_comments_context" id="list_comments_context" value="c" />
         <textarea id="comments_list_comments_s_c_484386"  style="margin:0;font-size:x-small;height:48px;width:98%;"></textarea></td><td style="width:50px;padding:0;margin:0;"><input style="height:50px;width:100%;" onClick="sendComment(login_token, 's', 'c', '484386', 'list_comments');"  type="button" value="&gt;" />
        </td></tr></table></form></div></div> </div> </div> </div>
         <div id="fb-root"></div>
         <script>(function(d, s, id) {
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) return;
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=2378093252";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));</script>
      <div style="padding:0.75em;margin-left:1em;float:right">

         <div style="float:left;">
            <a href="https://twitter.com/share" class="twitter-share-button" style="margin-top:2px;" data-hashtags="sonemic">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
         </div>
         <div style="float:left;margin-left:0.5em;">
       
            <div class="fb-like" data-href="https://rateyourmusic.com/list/Ohg/fantastic_late_70s_and_early_80s_disco__funk_and_soul_singles_you_may_not_have_heard_yet_volume_3/" data-width="250" data-layout="button_count" data-action="recommend" data-show-faces="true" data-send="false"></div>
         </div></div> 


<div id="nav_bottom" class="medium" style="padding:10px; text-align:center"></div>

<table id="user_list"><tr class="trodd"><td class="list_art" ><a href="/release/single/luther_davis_group/you_can_be_a_star___to_be_free/"><img  width="150" id="img_l_3599992"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/2f8afd7165032221e79820c85af1a299/4375557.jpg"  alt="You Can Be a Star / To Be Free" title="You Can Be a Star / To Be Free" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist735400]"  href="/artist/luther_davis_group" class="list_artist">Luther Davis Group</a></h4>
                                     <h5><a title="[Album3599992]" href="/release/single/luther_davis_group/you_can_be_a_star___to_be_free/" class="list_album">You Can Be a Star / To Be Free</a></a>
                         [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ></td><td class="main_entry" ><h4><a title="[Artist141308]"  href="/artist/ingram" class="list_artist">Ingram</a></h4>
                                     <h5><a title="[Album909231]" href="/release/single/ingram/d_j_s_delight/" class="list_album">D.J.&#39;s Delight</a></a>
                        <span class="rel_date">(1983) [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ></td><td class="main_entry" ><h4><a title="[Artist330667]"  href="/artist/carrie_cleveland" class="list_artist">Carrie Cleveland</a></h4>
                                     <h5><a title="[Album5506036]" href="/release/single/carrie_cleveland/make_love_to_me___i_need_love/" class="list_album">Make Love to Me / I Need Love</a></a>
                        <span class="rel_date">(1979) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ><a href="/release/single/black-white-and-co/funk-alarm-midi-minuit/"><img  height="150" id="img_l_678418"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/008bf937b8d661d6d0147ef10e0afd31/1720382.jpg"  alt="Funk Alarm / Midi Minuit" title="Funk Alarm / Midi Minuit" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist161768]"  href="/artist/black_white_and_co" class="list_artist">Black White and Co</a></h4>
                                     <h5><a title="[Album678418]" href="/release/single/black-white-and-co/funk-alarm-midi-minuit/" class="list_album">Funk Alarm / Midi Minuit</a></a>
                        <span class="rel_date">(1980) [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ></td><td class="main_entry" ><h4><a title="[Artist24274]"  href="/artist/toulouse" class="list_artist">Toulouse</a></h4>
                                     <h5><a title="[Album1952011]" href="/release/single/toulouse/what-would-my-mama-say-tonite-i-feel-like-dancin/" class="list_album">What Would My Mama Say / Tonite I Feel Like Dancin&#39;</a></a>
                        <span class="rel_date">(1977) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ><a href="/release/single/carol_hahn/do_your_best/"><img  width="150" id="img_l_1718647"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/651ab4e050c0822d7911dc7f8ea39366/2367791.jpg"  alt="Do Your Best" title="Do Your Best" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist347527]"  href="/artist/carol_hahn" class="list_artist">Carol Hahn</a></h4>
                                     <h5><a title="[Album1718647]" href="/release/single/carol_hahn/do_your_best/" class="list_album">Do Your Best</a></a>
                        <span class="rel_date">(1982) [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ><a href="/release/single/nana_love/when_the_heart_decides___give_me_the_chance/"><img  width="150" id="img_l_3458432"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/78da3aea62a0483e8dbd8278bcd41697/4026338.jpg"  alt="When the Heart Decides / Give Me the Chance" title="When the Heart Decides / Give Me the Chance" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist571904]"  href="/artist/nana_love" class="list_artist">Nana Love</a></h4>
                                     <h5><a title="[Album3458432]" href="/release/single/nana_love/when_the_heart_decides___give_me_the_chance/" class="list_album">When the Heart Decides / Give Me the Chance</a></a>
                        <span class="rel_date">(1977) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ><a href="/release/single/minnie-riperton/memory-lane-im-a-woman/"><img  width="150" id="img_l_127905"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/d32725bc68c323d9466d64fd45e3006c/6877340.jpg"  alt="Memory Lane / I&#39;m a Woman" title="Memory Lane / I&#39;m a Woman" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist4186]"  href="/artist/minnie_riperton" class="list_artist">Minnie Riperton</a></h4>
                                     <h5><a title="[Album127905]" href="/release/single/minnie-riperton/memory-lane-im-a-woman/" class="list_album">Memory Lane / I&#39;m a Woman</a></a>
                        <span class="rel_date">(1979) [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ></td><td class="main_entry" ><h4><a title="[Artist572920]"  href="/artist/darwins_theory__soul_" class="list_artist">Darwin&#39;s Theory [soul]</a></h4>
                                     <h5><a title="[Album7213395]" href="/release/single/darwins_theory__soul_/accept_the_truth__about_yourself_/" class="list_album">Accept the Truth (About Yourself)</a></a>
                        <span class="rel_date">(1979) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ></td><td class="main_entry" ><h4><a title="[Artist1166367]"  href="/artist/the_last_generation_f1" class="list_artist">The Last Generation</a></h4>
                                     <h5><a title="[Album7213364]" href="/release/single/the_last_generation_f1/just_a_chance_in_life___youre_all_i_need/" class="list_album">Just a Chance in Life / You&#39;re All I Need</a></a>
                        <span class="rel_date">(1983) [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ></td><td class="main_entry" ><h4><a title="[Artist1166360]"  href="/artist/american_chocolate" class="list_artist">American Chocolate</a></h4>
                                     <h5><a title="[Album7213339]" href="/release/single/american_chocolate/m_i_a___dont_bug_me/" class="list_album">M.I.A / Don&#39;t Bug Me</a></a>
                         [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ><a href="/release/single/cojo/play_it_by_ear___heads_up_/"><img  width="150" id="img_l_3274987"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/7811b9bd77e4c2110704ef809dedde03/3497532.jpg"  alt="Play It By Ear / Heads Up!" title="Play It By Ear / Heads Up!" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist665082]"  href="/artist/cojo" class="list_artist">Cojo</a></h4>
                                     <h5><a title="[Album3274987]" href="/release/single/cojo/play_it_by_ear___heads_up_/" class="list_album">Play It By Ear / Heads Up!</a></a>
                         [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ><a href="/release/single/michael-boothman-touch/waiting-for-your-love-what-you-wont-do-for-love/"><img  width="150" id="img_l_4615687"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/c297e4b692e45e6f31525a103ddb3fa8/6893208.jpg"  alt="Waiting for Your Love / What You Won&#39;t Do for Love" title="Waiting for Your Love / What You Won&#39;t Do for Love" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist945153]"  href="/artist/michael_boothman_touch" class="list_artist">Michael Boothman Touch</a></h4>
                                     <h5><a title="[Album4615687]" href="/release/single/michael-boothman-touch/waiting-for-your-love-what-you-wont-do-for-love/" class="list_album">Waiting for Your Love / What You Won&#39;t Do for Love</a></a>
                        <span class="rel_date">(1980) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ></td><td class="main_entry" ><h4><a title="[Artist11643]"  href="/artist/merry_clayton" class="list_artist">Merry Clayton</a></h4>
                                     <h5><a title="[Album2634942]" href="/release/single/merry_clayton/when_the_world_turns_blue___emotion/" class="list_album">When the World Turns Blue / Emotion</a></a>
                        <span class="rel_date">(1980) [Single]</span></h5><span class="hide-for-small"><br />b side &gt; a side</span><td></td></tr><tr class="show-for-small-table-row treven"><td colspan=4 class="list_mobile_description">b side &gt; a side</td></tr><tr class="trodd"><td class="list_art" ><a href="/release/single/david-simmons/love-tonight/"><img  width="150" id="img_l_3846102"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/1e84d5fcd47006bd0bf1951d3eed9e80/4054768.jpg"  alt="Love Tonight" title="Love Tonight" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist523918]"  href="/artist/david_simmons" class="list_artist">David Simmons</a></h4>
                                     <h5><a title="[Album3846102]" href="/release/single/david-simmons/love-tonight/" class="list_album">Love Tonight</a></a>
                        <span class="rel_date">(1984) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ><a href="/release/single/harvey-mason/the-mase-k_y-and-the-curb/"><img  width="150" id="img_l_3978945"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/2bd92c00144fef6d7b9fa2ee0dca7076/4180184.jpg"  alt="The Mase / K.Y. and the Curb" title="The Mase / K.Y. and the Curb" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist18090]"  href="/artist/harvey-mason" class="list_artist">Harvey Mason</a></h4>
                                     <h5><a title="[Album3978945]" href="/release/single/harvey-mason/the-mase-k_y-and-the-curb/" class="list_album">The Mase / K.Y. and the Curb</a></a>
                        <span class="rel_date">(1977) [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ><a href="/release/single/james_mason/sweet_power__your_embrace/"><img  width="150" id="img_l_7143157"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/cc1d87ebd257511c28c9cafda0ecdce3/6704079.jpg"  alt="Sweet Power, Your Embrace" title="Sweet Power, Your Embrace" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist46642]"  href="/artist/james_mason" class="list_artist">James Mason</a></h4>
                                     <h5><a title="[Album7143157]" href="/release/single/james_mason/sweet_power__your_embrace/" class="list_album">Sweet Power, Your Embrace</a></a>
                        <span class="rel_date">(1977) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ></td><td class="main_entry" ><h4><a title="[Artist21570]"  href="/artist/wilton_felder" class="list_artist">Wilton Felder</a></h4>
                                     <h5><a title="[Album3785325]" href="/release/single/wilton_felder/lets_dance_together___ride_on/" class="list_album">Let&#39;s Dance Together / Ride On</a></a>
                        <span class="rel_date">(1978) [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ><a href="/release/single/sergio_mendes/the_real_thing___mozambique/"><img  width="150" id="img_l_3212227"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/ce8eaacbdc294d4539dfdba19570c6e7/3430231.jpg"  alt="The Real Thing / Mozambique" title="The Real Thing / Mozambique" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist4231]"  href="/artist/sergio_mendes" class="list_artist">Sérgio Mendes</a></h4>
                                     <h5><a title="[Album3212227]" href="/release/single/sergio_mendes/the_real_thing___mozambique/" class="list_album">The Real Thing / Mozambique</a></a>
                        <span class="rel_date">(1977) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ></td><td class="main_entry" ><h4><a title="[Artist430687]"  href="/artist/juggy-murray-jones" class="list_artist">Juggy Murray Jones</a></h4>
                                     <h5><a title="[Album7136662]" href="/release/single/juggy-murray-jones/just-you-and-me/" class="list_album">Just You and Me</a></a>
                         [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ><a href="/release/single/black_white_and_co/action_for_love___get_the_funk/"><img  width="150" id="img_l_4811210"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/a26f85166a22f93543ef73c6d69fb01a/4923964.png"  alt="Action for Love / Get the Funk" title="Action for Love / Get the Funk" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist161768]"  href="/artist/black_white_and_co" class="list_artist">Black White and Co</a></h4>
                                     <h5><a title="[Album4811210]" href="/release/single/black_white_and_co/action_for_love___get_the_funk/" class="list_album">Action for Love / Get the Funk</a></a>
                        <span class="rel_date">(1981) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ></td><td class="main_entry" ><h4><a title="[Artist1158048]"  href="/artist/patience_f2" class="list_artist">Patience</a></h4>
                                     <h5><a title="[Album7113918]" href="/release/single/patience_f2/this_is_all_i_can_say___tell_me/" class="list_album">This Is All I Can Say / Tell Me</a></a>
                        <span class="rel_date">(1979) [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ></td><td class="main_entry" ><h4><a title="[Artist1038412]"  href="/artist/rena_feeney" class="list_artist">Rena Feeney</a></h4>
                                     <h5><a title="[Album7102100]" href="/release/single/rena_feeney/dance_it_off/" class="list_album">Dance it Off</a></a>
                        <span class="rel_date">(1981) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ><a href="/release/single/perfect_touch/keep_on_loving_you/"><img  width="150" id="img_l_7098836"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/9ae1cd9e97f450fca337a8849cecdf04/5990337.jpg"  alt="Keep on Loving You" title="Keep on Loving You" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist563397]"  href="/artist/perfect_touch" class="list_artist">Perfect Touch</a></h4>
                                     <h5><a title="[Album7098836]" href="/release/single/perfect_touch/keep_on_loving_you/" class="list_album">Keep on Loving You</a></a>
                         [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ><a href="/release/single/gloria-taylor/whats-your-world-had-it-all-the-time/"><img  width="150" id="img_l_4804733"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/ef48791eeeaff9983f0f11500b1a8268/4921039.jpg"  alt="What&#39;s Your World / Had It All the Time" title="What&#39;s Your World / Had It All the Time" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist368826]"  href="/artist/gloria_taylor" class="list_artist">Gloria Taylor</a></h4>
                                     <h5><a title="[Album4804733]" href="/release/single/gloria-taylor/whats-your-world-had-it-all-the-time/" class="list_album">What&#39;s Your World / Had It All the Time</a></a>
                        <span class="rel_date">(1973) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ><a href="/release/single/hazel_ramberransingh/i_want_to_give_you_everything/"><img  width="150" id="img_l_7093850"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/c1f048412c63c076a03b06327de6d02b/5987976.jpg"  alt="I Want to Give You Everything" title="I Want to Give You Everything" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist1156360]"  href="/artist/hazel_ramberransingh" class="list_artist">Hazel Ramberransingh</a></h4>
                                     <h5><a title="[Album7093850]" href="/release/single/hazel_ramberransingh/i_want_to_give_you_everything/" class="list_album">I Want to Give You Everything</a></a>
                        <span class="rel_date">(1978) [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ></td><td class="main_entry" ><h4><a title="[Artist30774]"  href="/artist/idris-muhammad" class="list_artist">Idris Muhammad</a></h4>
                                     <h5><a title="[Album3831722]" href="/release/single/idris-muhammad/boogie-to-the-top/" class="list_album">Boogie to the Top</a></a>
                        <span class="rel_date">(1978) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ></td><td class="main_entry" ><h4><a title="[Artist1151418]"  href="/artist/henry_lee_roberts" class="list_artist">Henry Lee Roberts</a></h4>
                                     <h5><a title="[Album7035480]" href="/release/single/henry_lee_roberts/space_jesus_atomic_judgement___halleys_comet/" class="list_album">Space Jesus Atomic Judgement / Halley&#39;s Comet</a></a>
                        <span class="rel_date">(1985) [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ><a href="/release/single/the_capprells_with_the_sul_brothers_band/close_your_eyes___walk_on_by/"><img  width="150" id="img_l_4784616"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/89686c92054f9c0bf0f94d8714a4077f/5424639.png"  alt="Close Your Eyes / Walk On By" title="Close Your Eyes / Walk On By" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist242383]"  href="/artist/the_caprells" class="list_artist">The Capprells With The Sul Brothers Band</a></h4>
                                     <h5><a title="[Album4784616]" href="/release/single/the_capprells_with_the_sul_brothers_band/close_your_eyes___walk_on_by/" class="list_album">Close Your Eyes / Walk On By</a></a>
                        <span class="rel_date">(1975) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ><a href="/release/single/sweet_daddy_floyde/i_just_cant_help_myself/"><img  width="150" id="img_l_3485491"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/8e27b2f63632705e3682c7b66a982ae1/3715769.jpeg"  alt="I Just Can&#39;t Help Myself" title="I Just Can&#39;t Help Myself" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist370343]"  href="/artist/sweet_daddy_floyde" class="list_artist">Sweet Daddy Floyde</a></h4>
                                     <h5><a title="[Album3485491]" href="/release/single/sweet_daddy_floyde/i_just_cant_help_myself/" class="list_album">I Just Can&#39;t Help Myself</a></a>
                        <span class="rel_date">(1978) [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ><a href="/release/single/spiders_webb/i_dont_know_whats_on_your_mind___reggae_bump/"><img  width="150" id="img_l_3274962"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/92ec18c9580c701ac2b20a4303126694/3497517.jpg"  alt="I Don&#39;t Know What&#39;s on Your Mind / Reggae Bump" title="I Don&#39;t Know What&#39;s on Your Mind / Reggae Bump" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist367013]"  href="/artist/spiders_webb" class="list_artist">Spiders Webb</a></h4>
                                     <h5><a title="[Album3274962]" href="/release/single/spiders_webb/i_dont_know_whats_on_your_mind___reggae_bump/" class="list_album">I Don&#39;t Know What&#39;s on Your Mind / Reggae Bump</a></a>
                        <span class="rel_date">(1977) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ><a href="/release/single/side_on/magic/"><img  width="150" id="img_l_6702380"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/829d0cb68ea9e7cb76e671704290e9bd/5810089.jpg"  alt="Magic" title="Magic" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist990724]"  href="/artist/side_on" class="list_artist">Side On</a></h4>
                                     <h5><a title="[Album6702380]" href="/release/single/side_on/magic/" class="list_album">Magic</a></a>
                        <span class="rel_date">(1982) [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ></td><td class="main_entry" ><h4><a title="[Artist1141436]"  href="/artist/satin_dream" class="list_artist">Satin Dream</a></h4>
                                     <h5><a title="[Album6906549]" href="/release/single/satin_dream/stay_away_from_my_lover/" class="list_album">Stay Away From My Lover</a></a>
                        <span class="rel_date">(1981) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ><a href="/release/single/d_i_t/you-bring-out-the-best-in-me-ooh-ah-jam/"><img  width="150" id="img_l_3510660"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/c235ce304a89447271b8940db1bb0cf3/3738007.jpeg"  alt="You Bring Out the Best in Me / Ooh Ah Jam" title="You Bring Out the Best in Me / Ooh Ah Jam" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist372879]"  href="/artist/d_i_t-1" class="list_artist">D.I.T.</a></h4>
                                     <h5><a title="[Album3510660]" href="/release/single/d_i_t/you-bring-out-the-best-in-me-ooh-ah-jam/" class="list_album">You Bring Out the Best in Me / Ooh Ah Jam</a></a>
                        <span class="rel_date">(1983) [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ></td><td class="main_entry" ><h4><a title="[Artist45239]"  href="/artist/walter-junie-morrison" class="list_artist">Walter &#34;Junie&#34; Morrison</a></h4>
                                     <h5><a title="[Album6814875]" href="/release/single/walter-junie-morrison/if-you-love-him/" class="list_album">If You Love Him</a></a>
                        <span class="rel_date">(1976) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ><a href="/release/single/art_webb/love_eyes___you_cant_hide_love/"><img  height="150" id="img_l_2193041"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/45c0e864fbfa4828394d90db1af5d205/2612005.jpg"  alt="Love Eyes / You Can&#39;t Hide Love" title="Love Eyes / You Can&#39;t Hide Love" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist114729]"  href="/artist/art_webb" class="list_artist">Art Webb</a></h4>
                                     <h5><a title="[Album2193041]" href="/release/single/art_webb/love_eyes___you_cant_hide_love/" class="list_album">Love Eyes / You Can&#39;t Hide Love</a></a>
                        <span class="rel_date">(1977) [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ><a href="/release/single/coke_escovedo/disco_fantasy___trash_man/"><img  width="150" id="img_l_3467018"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/55ad6c2271eba14d474cfb3e38136c86/3697588.jpg"  alt="Disco Fantasy / Trash Man" title="Disco Fantasy / Trash Man" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist183581]"  href="/artist/coke_escovedo" class="list_artist">Coke Escovedo</a></h4>
                                     <h5><a title="[Album3467018]" href="/release/single/coke_escovedo/disco_fantasy___trash_man/" class="list_album">Disco Fantasy / Trash Man</a></a>
                        <span class="rel_date">(1977) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ></td><td class="main_entry" ><h4><a title="[Artist184775]"  href="/artist/denise_kelly" class="list_artist">Denise Kelly</a></h4>
                                     <h5><a title="[Album3828849]" href="/release/single/denise_kelly/id_like_to_get_into_you/" class="list_album">I&#39;d Like To Get Into You</a></a>
                        <span class="rel_date">(1978) [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ><a href="/release/single/sabata/man_for_my_lady/"><img  width="150" id="img_l_1234097"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/0192a6d4490a0bd56931355ced866e8b/3104474.jpeg"  alt="Man for My Lady" title="Man for My Lady" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist277891]"  href="/artist/sabata" class="list_artist">Sabata</a></h4>
                                     <h5><a title="[Album1234097]" href="/release/single/sabata/man_for_my_lady/" class="list_album">Man for My Lady</a></a>
                        <span class="rel_date">(1980) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ><a href="/release/single/arnie_love_and_the_loveletts/invisible_wind___me__myself_and_i___we_had_enough/"><img  width="150" id="img_l_3146842"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/5dc05d44f8a14f68b1752facdf44a3a8/3366618.jpg"  alt="Invisible Wind / Me, Myself &amp; I / We Had Enough" title="Invisible Wind / Me, Myself &amp; I / We Had Enough" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist368117]"  href="/artist/arnie_love_and_the_loveletts" class="list_artist">Arnie Love &amp; The Loveletts</a></h4>
                                     <h5><a title="[Album3146842]" href="/release/single/arnie_love_and_the_loveletts/invisible_wind___me__myself_and_i___we_had_enough/" class="list_album">Invisible Wind / Me, Myself &amp; I / We Had Enough</a></a>
                        <span class="rel_date">(1981) [Single]</span></h5><span class="hide-for-small"><br />b side &gt; a side</span><td></td></tr><tr class="show-for-small-table-row treven"><td colspan=4 class="list_mobile_description">b side &gt; a side</td></tr><tr class="trodd"><td class="list_art" ><a href="/release/single/mr__wigg_and_co_/youve_got_a_lot_of_living/"><img  width="150" id="img_l_5814973"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/f9719289367dc8ec8c86a1d0f52508b9/5399671.jpeg"  alt="You&#39;ve Got a Lot of Living" title="You&#39;ve Got a Lot of Living" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist1054932]"  href="/artist/mr__wigg_and_co_" class="list_artist">Mr. Wigg &amp; Co.</a></h4>
                                     <h5><a title="[Album5814973]" href="/release/single/mr__wigg_and_co_/youve_got_a_lot_of_living/" class="list_album">You&#39;ve Got a Lot of Living</a></a>
                        <span class="rel_date">(1980) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ></td><td class="main_entry" ><h4><a title="[Artist203956]"  href="/artist/family_of_eve" class="list_artist">Family of Eve</a></h4>
                                     <h5><a title="[Album840838]" href="/release/single/family_of_eve/i_want_to_be_loved_by_you___please_be_truthful/" class="list_album">I Want to Be Loved by You / Please Be Truthful</a></a>
                        <span class="rel_date">(1979) [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ><a href="/release/single/black_ice/i_just_wanna_hold_you/"><img  width="150" id="img_l_751332"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/210b53ae4055af5a4056b90bf730b48d/1796380.jpg"  alt="I Just Wanna Hold You" title="I Just Wanna Hold You" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist20245]"  href="/artist/black_ice" class="list_artist">Black Ice</a></h4>
                                     <h5><a title="[Album751332]" href="/release/single/black_ice/i_just_wanna_hold_you/" class="list_album">I Just Wanna Hold You</a></a>
                        <span class="rel_date">(1981) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ><a href="/release/single/black_white_and_co/action_for_love___get_the_funk/"><img  width="150" id="img_l_4811210"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/a26f85166a22f93543ef73c6d69fb01a/4923964.png"  alt="Action for Love / Get the Funk" title="Action for Love / Get the Funk" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist161768]"  href="/artist/black_white_and_co" class="list_artist">Black White and Co</a></h4>
                                     <h5><a title="[Album4811210]" href="/release/single/black_white_and_co/action_for_love___get_the_funk/" class="list_album">Action for Love / Get the Funk</a></a>
                        <span class="rel_date">(1981) [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ><a href="/release/single/tim-maia/acenda-o-farol-vitoria-regia-estou-contigo-e-nao-abro/"><img  width="150" id="img_l_1717427"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/39d31fcf8317158f405369ffd4b9a310/6445482.jpg"  alt="Acenda o farol / Vitória régia estou contigo e não abro" title="Acenda o farol / Vitória régia estou contigo e não abro" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist11446]"  href="/artist/tim_maia" class="list_artist">Tim Maia</a></h4>
                                     <h5><a title="[Album1717427]" href="/release/single/tim-maia/acenda-o-farol-vitoria-regia-estou-contigo-e-nao-abro/" class="list_album">Acenda o farol / Vitória régia estou contigo e não abro</a></a>
                        <span class="rel_date">(1978) [Single]</span></h5><td></td></tr><tr class="treven"><td class="list_art" ><a href="/release/single/colden_and_mccullers/tell_me_how___dreams/"><img  width="150" id="img_l_3720467"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/025e42235f1b51d2f669555f11a958b2/3936839.jpeg"  alt="Tell Me How / Dreams" title="Tell Me How / Dreams" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist761247]"  href="/artist/colden_and_mccullers" class="list_artist">Colden &amp; McCullers</a></h4>
                                     <h5><a title="[Album3720467]" href="/release/single/colden_and_mccullers/tell_me_how___dreams/" class="list_album">Tell Me How / Dreams</a></a>
                        <span class="rel_date">(1983) [Single]</span></h5><td></td></tr><tr class="trodd"><td class="list_art" ><a href="/release/single/ramsey-lewis/spring-high-the-messenger/"><img  height="150" id="img_l_503776"  class="delayloadimg"   data-delayloadurl="//e.snmc.io/lk/s/l/18f498b7a0e4cccbebb4a45e92be5957/1637198.jpg"  alt="Spring High / The Messenger" title="Spring High / The Messenger" src="//e.snmc.io/2.5/img/images/blank.png" /></a></td><td class="main_entry" ><h4><a title="[Artist7518]"  href="/artist/ramsey-lewis" class="list_artist">Ramsey Lewis</a></h4>
                                     <h5><a title="[Album503776]" href="/release/single/ramsey-lewis/spring-high-the-messenger/" class="list_album">Spring High / The Messenger</a></a>
                        <span class="rel_date">(1977) [Single]</span></h5><td></td></tr></table><div class="clear"> </div>

 <table><tr></tr></table></div><div style="padding-top:1em;padding:0.5em;background:#eee;border-top:1px solid #ddd"><div id="nav_bottom" class="medium" style="padding:10px; text-align:center"></div></div><div>
     <script type="text/javascript">
      var delayLoadImgCount = 0
      $('.delayloadimg').appear(function() { delayLoadImgCount++ ; $(this).attr('src', $(this).attr('data-delayloadurl')); } , { extendheight:1700 } );
     </script>
  

<!-- ~~~~~~~~ end content ~~~~~~~~~~~~~~~ -->
<div id="myModal" class="reveal-modal">
  <div id="modal_content">
  </div>
     <a class="close-reveal-modal">&#215;</a>
</div>

<!--trick--><div style="clear:both;"></div>
</div>
<div id="navbottom">
    <ul>
      <li><a href="/queues/">Queues</a></li>
      <li><a href="/rymzilla/">RYMzilla</a></li>
      <li><a href="/wiki/RYM:FAQ">FAQ</a></li>
      <li><a href="/tos">ToS</a></li>
      <li><a href="/privacy">Privacy</a></li>
      <li><a href="/suggestions">Contact/Feedback</a></li>
      <li><a href="https://www.buysellads.com/buy/detail/266796">Advertise</a></li>
      <li><a href="/help/">Help/Wiki</a></li>
      <li><a class="facebook_link" href="https://www.facebook.com/sonemic.network/"><i class="fa fa-facebook-square"></i> Like us</a></li>
      <li><a class="twitter_link" href="https://twitter.com/sonemic"><i class="fa fa-twitter"></i> Follow us</a></li>
   </ul>
  

<table><tr><td style="width:100%;text-align:center;"><address>&copy; 2000 - 2018 Sonemic, Inc. &nbsp; &nbsp; &nbsp; <a id="report_ad_link" style="cursor:pointer;" onClick="reportAdOpen();">report ads</a><script>


      function reportAdOpen() {
         $('#report_ads').toggle();
         reportAdPopulateList();
      }

      function reportAdPopulateList() {


         var ret = '';

         for ( i in rymads ) {


            var ad = rymads[i];

            ret += '<label for="report_ad_' + i + '"><input type="radio" id="report_ad_' + i + '" onClick="reportAdSelect(\'' + i + '\');" name="report_ad_unit" value="' + i + '"> ' + ad.description + '</label>';

         }

         $('#report_ads_list').html(ret);
      }

      function reportAdSubmit() {

         var ad_type = $('input[name=report_ad_type]:checked').val();
         var ad_unit = $('input[name=report_ad_unit]:checked').val();

         var description = $('#report_ad_description').val();
         var ad_json = $('#report_ad_json').val();
         var ad_unit_html = $('#report_ad_unit_html').val();

         var url = window.location.pathname;

         rym.request.post('AdsReport', { ad_type:ad_type, ad_unit:ad_unit, description:description, ad_json:ad_json, ad_unit_html:ad_unit_html, url:url } , null, 'script');

      }

      function _reportAdCallback(message) {
         $('#report_ads').html(message);
      }

      function reportAdSelect(id) {
         $('#report_ad_unit_html').val( $('#' + id).html());
      }

      </script><style>#report_ads label { display:block;margin-top:0.5em;margin-bottom:0.5em;} 
   #report_ad_submit {  padding:0.5em; border:1px solid #ddd; background:#f0f0f0; font-size:1.1em; }
   #report_ad_description { width:100%; height:5em; border:1px solid #eee; background:#fff; padding:0.5em; }
   #report_ad_json, #report_ad_unit_html { display:none; }
   #report_ads {
      display:none;
      text-align: left;
    max-width: 40em;
    margin: 0 auto;
    padding: 2em;
    color: #333;
    border: 1px solid #ddd;
    margin-top: 1em;
    border-radius: 3px;
    background: #f8f8f8;
   }
         </style> 
      <div id="report_ads" style="    ">

         <p>Advertisers are not allowed to run annoying ads on RYM.   You can use this form to report problematic or annoying ads.  </p>

          <p>If you are still on the page where the annoying ad was (or still is) displayed, then proceed to fill out this form. </p>

          <p>If the ads navigated you to another page, then use the back button to navigate back to the exact page where the problem started and submit from there.</p>

         <p><i>What is problematic about the ad?</i></p>

            <label><input type="radio" name="report_ad_type" value="sound"> The ad is playing sound without having interacted with it.</label>
            <label><input type="radio" name="report_ad_type" value="cover"> The ad partially covered site content</label>
            <label><input type="radio" name="report_ad_type" value="total_cover"> The ad completely covered site content (like a popup, but without opening a new window)</label>
            <label><input type="radio" name="report_ad_type" value="new_window"> The ad opened a new tab or window</label>
            <label><input type="radio" name="report_ad_type" value="store_redirect"> The ad redirected my mobile browser to the app store or another app</label>
            <label><input type="radio" name="report_ad_type" value="other"> Other (please clarify in comments)</label>

         <p><i>Which ad on the page is the source of the problem?  (if there are multiple, just pick the worst one)</i></p>

         <div id="report_ads_list">



         </div>

         <label for="report_ad_description">Please describe the ad and situation in as much detail as possible (including any brand names, product names, domain names you might have seen)</label>

         <textarea id="report_ad_description"></textarea>

         <textarea id="report_ad_json"></textarea>

         <textarea id="report_ad_unit_html"></textarea>

         <button id="report_ad_submit" onClick="reportAdSubmit()">Submit</button>

      </div>

      <script>
         if ( typeof(rymads) === 'undefined' ) {

            $('#report_ad_link').hide();
         }
      </script>
   </address></td></tr></table> 

</div>
</div>		
</script>
</body>

<script type="text/javascript" src="https://e.snmc.io/2.5/js/web_ads/advertisement.js"></script>

   <script> function areAdsBlocked() { return ($('#ad_1').length == 0) } 
   function politeAdRequest() {

      var colors = ['#666', '#668', '#866', '#686'];

      var messages = ['RYM relies on advertising revenue to support the site. Please consider <a href="/subscribe/">becoming a subscriber</a> or whitelisting rateyourmusic.com on your ad blocker.',  'RYM relies on advertising revenue to pay for the servers, bandwidth and other costs required to run this site. Please consider <a href="/subscribe/">subscribing</a> or adding an exception to adblock for rateyourmusic.com.',  'If you block ads, please consider supporting RYM by <a href="/subscribe/">subscribing</a> instead. Subscribers never see ads and benefit from extra site features.',  'If you block ads, please consider <a href="/subscribe/">subscribing</a>. Subscribers provide us with an independent, stable revenue stream that allows us to better operate and improve the site.']

      var color = colors[Math.floor(Math.random()*colors.length)];
      var message = messages[Math.floor(Math.random()*messages.length)];

      var xx = '<div class=abpmessage style="line-height:2;text-align:center;color:' + color + ';">' + message + '</div>' 
      $('#content').prepend(xx)
   }

   </script>
 
      <script>
                  if(areAdsBlocked()) {   
                     politeAdRequest()
                  }
      </script>
   
</html>
 
 